@using System.Threading;
@model LoginViewModel
@{
    ViewData["Title"] = viewLocalizer["SignInPageTitle"];
    Layout = "~/Views/Shared/_signInLayout.cshtml";
    string culture = Thread.CurrentThread.CurrentUICulture.ToString();
}
<title>@ViewData["Title"]</title>
<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
<div class="col-lg-6">
    <form asp-controller="Auth" class="text-right" asp-action="SetCulture">
        <input type="hidden" name="returnUrl" value="@(Context.Request.Path)@(Context.Request.QueryString.ToUriComponent())" />
        @if (culture != "tr-TR")
        {
            <input type="hidden" name="culture" value="tr-TR" />
            <button type="submit" class="btn font-weight-bold">Türkçe</button>
        }
        else
        {
            <input type="hidden" name="culture" value="en-US" />
            <button type="submit" class="btn font-weight-bold">English</button>
        }
    </form>
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@viewLocalizer["LoginText"]</h1>
        </div>
        <form asp-action="Login" autocomplete="off" asp-antiforgery="true" asp-controller="Auth" class="user" autocomplete="off">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div>
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.PassWord)
                </div>
                <div>
                    @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    @Html.EditorFor(model => model.Persistent, new { htmlAttributes = new { @class = "custom-control-input" } })
                    @Html.LabelFor(model => model.Persistent, new { @class = "custom-control-label" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Persistent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">@sharedLocalizer["Enter"]</button>
            </div>
            <hr>
            <a href="#" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> @viewLocalizer["LoginGoogle"]
            </a>
            <a href="#" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> @viewLocalizer["LoginFacebook"]
            </a>
        </form>
        <hr>
        @*<div class="text-center">
                <a class="small" asp-action="ForgotPassword" asp-controller="User">@viewLocalizer["ForgotPasswordPage"]</a>
            </div>*@
        <div class="text-center">
            <a class="small" asp-action="Register" asp-controller="Auth" asp-route-returnUrl="@Model.ReturnUrl">
                @viewLocalizer["CreateAnAccount"]
            </a>
        </div>
    </div>
</div>

