@model RegisterViewModel
@{  
    Layout = "~/Views/Shared/_signInLayout.cshtml";
}
<title>@viewLocalizer["CreatePageTitle"]</title>
<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">@viewLocalizer["CreatePageTitle"]</h1>
        </div>
        <form asp-action="Register" asp-controller="Auth" class="form-group user" autocomplete="off">
            <div>
                <div>
                    <div>
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(model => model.Email)
                </div>
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <small id="emailHelp" class="form-text text-muted">@viewLocalizer["emailHelp"]</small>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div>
                        @Html.LabelFor(model => model.PassWord)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        @Html.LabelFor(model => model.ComparePassword)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">@sharedLocalizer["Save"]</button>
            </div>
        </form>
        <hr>
        @* <div class="text-center">
            <a class="small" asp-action="ForgotPassword" asp-controller="User">@viewLocalizer["ForgotPasswordPage"]</a>
        </div> *@
        <div class="text-center">
            <a class="small" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">@viewLocalizer["SignInPage"]</a>
        </div>
    </div>
</div>